extends layout

block content
  h1 Welcome to OCR Elves
  hr
  p Paste in a png or jpg image file with some text on it, and get the text back from OCR software Tesseract. Give it a try!
  if ( m_alert != null )
    div.alert.alert-danger
      p= m_alert.message
  if m_buff
    p File type parsed: #{m_buff.ext}
  if m_lang
    p Language used to interpret image: #{m_lang}
  br
  .row
    .col-md-4
      form(name="input", action="/", method="post" enctype="multipart/form-data")

        div
          select(name="lang")
            option(value="ara") Arabic
            option(value="bel") Belarusian
            option(value="ben") Bengali
            option(value="bod") Tibetan
            option(value="bos") Bosnian
            option(value="bul") Bulgarian
            option(value="cat") Catalan
            option(value="ces") Czech
            option(value="chi_sim") Chinese - Simplified
            option(value="chi_tra") Chinese - Traditional
            option(value="chr") Cherokee
            option(value="cym") Welsh
            option(value="dan") Danish
            option(value="dan_frak") Danish - Fraktur
            option(value="deu") German
            option(value="deu_frak") German - Fraktur
            option(value="dzo") Dzongkha
            option(value="ell") Greek, Modern
            option(value="eng", selected="selected") English
            option(value="enm") English, Middle 1100-1500
            option(value="epo") Esperanto
            option(value="equ") Math / equation detection module
            option(value="est") Estonian
            option(value="eus") Basque
            option(value="fas") Persian
            option(value="fin") Finnish
            option(value="fra") French
            option(value="frk") Frankish
            option(value="frm") French, Middle ca.1400-1600
            option(value="gle") Irish
            option(value="glg") Galician
            option(value="grc") Greek, Ancient to 1453
            option(value="guj") Gujarati
            option(value="hat") Haitian; Haitian Creole
            option(value="heb") Hebrew
            option(value="hin") Hindi
            option(value="hrv") Croatian
            option(value="hun") Hungarian
            option(value="iku") Inuktitut
            option(value="ind") Indonesian)
            option(value="isl") Icelandic
            option(value="ita") Italian
            option(value="ita_old") Italian - Old
            option(value="jav") Javanese
            option(value="jpn") Japanese
            option(value="kan") Kannada
            option(value="kat") Georgian
            option(value="kat_old") Georgian - Old
            option(value="kaz") Kazakh
            option(value="khm") Central Khmer
            option(value="kir") Kirghiz; Kyrgyz
            option(value="kor") Korean
            option(value="kur") Kurdish
            option(value="lao") Lao
            option(value="lat") Latin
            option(value="lav") Latvian
            option(value="lit") Lithuanian
            option(value="mal") Malayalam
            option(value="mar") Marathi
            option(value="mkd") Macedonian
            option(value="mlt") Maltese
            option(value="msa") Malay
            option(value="mya") Burmese
            option(value="nep") Nepali
            option(value="nld") Dutch; Flemish
            option(value="nor") Norwegian
            option(value="ori") Oriya
            option(value="pan") Panjabi; Punjabi
            option(value="pol") Polish
            option(value="por") Portuguese
            option(value="pus") Pushto; Pashto
            option(value="ron") Romanian; Moldavian; Moldovan
            option(value="rus") Russian
            option(value="san") Sanskrit
            option(value="sin") Sinhala; Sinhalese
            option(value="slk") Slovak
            option(value="slk_frak") Slovak - Fraktur
            option(value="slv") Slovenian
            option(value="spa") Spanish; Castilian
            option(value="spa_old") Spanish; Castilian - Old
            option(value="sqi") Albanian
            option(value="srp") Serbian
            option(value="srp_latn") Serbian - Latin
            option(value="swa") Swahili
            option(value="swe") Swedish
            option(value="syr") Syriac
            option(value="tam") Tamil
            option(value="tel") Telugu
            option(value="tgk") Tajik
            option(value="tgl") Tagalog
            option(value="tha") Thai
            option(value="tir") Tigrinya
            option(value="tur") Turkish
            option(value="uig") Uighur; Uyghur
            option(value="ukr") Ukrainian
            option(value="urd") Urdu
            option(value="uzb") Uzbek
            option(value="uzb_cyrl") Uzbek - Cyrilic
            option(value="vie") Vietnamese
            option(value="yid") Yiddish
          br
          br

        div
          input.form-control(type="file", placeholder="File", name="m_image")
          br

        div
          input(type="submit", value="Submit")

    .col-md-8
      if m_ocrd
        pre= m_ocrd
