doctype html
html
  head
    link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
